<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{fragments/main_layout}"
	  xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Seznam uživatelů</title>
</head>

<body>

<div class="container" layout:fragment="content">

	<h3>Uživatelé</h3>
	<hr>

	<a th:href="@{showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Přidat uživatele
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Jméno</th>
				<th>Přijmení</th>
				<th>email</th>
				<th>Akce</th>
			</tr>
		</thead>		
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.firstName}" />
				<td th:text="${user.lastName}" />
				<td th:text="${user.email}" />
				
					<td>

					<a th:href="@{showFormForUpdate(userId=${user.id})}"
					   class="btn btn-info btn-sm">
						Upravit
					</a>
					

					<a th:href="@{delete(userId=${user.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Opravdu odstranit uživatele'))) return false">
						Odstranit
					</a>

					</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



