<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Directory</title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = function() {
            let d = new Date();
            const dayAfter = d.getDate() + 3 + ". " + (d.getMonth() + 1) +". ";
            const dayAfter2 = d.getDate() + 4 + ". " + (d.getMonth() + 1) +". ";
            const dayAfter3 = d.getDate() + 5 + ". " + (d.getMonth() + 1) +". ";

            document.getElementById("dayAfter").innerHTML =  dayAfter;
            document.getElementById("dayAfter2").innerHTML = dayAfter2;
            document.getElementById("dayAfter3").innerHTML = dayAfter3;
        };


        /*]]>*/
    </script>
</head>
<body>

<div class="container" layout:fragment="content">

    <h3>Detail filmu</h3>
    <hr>

    <a th:href="@{/movies/list}">Zpátky na seznam uživatelů</a>


    <h2 th:text="${movie.name}"></h2>
    <h6>Popis:</h6>
    <p th:text="${movie.description}"></p>
    <h6>Délka filmu:</h6>
    <p th:text="${movie.length}"></p>

    <h6>odkaz:</h6>
    <p th:text="${movie.url_video}"></p>

    <iframe width="640" height="360" th:src="@{https://www.youtube.com/embed/{url} (url=${movie.url_video})}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>


    <hr>


    <h4>Program</h4>
    <table class="table">

        <tbody>
        <tr>
            <th scope="row">Dnes</th>
            <td><a>16:35</a></td>
        </tr>
        <tr>
            <th scope="row">Zítra</th>
            <td><a href="#">16:35</a></td>
            <td><a href="#">18:35</a></td>
            <td><a href="#">19:35</a></td>
            <td><a href="#">16:35</a></td>
            <td><a href="#">24:35</a></td>
        </tr>
        <tr>
            <th scope="row">Pozítří</th>
            <td><a href="#">16:35</a></td>
        </tr>
        <tr>
            <th scope="row"><p id="dayAfter"></p> </th>
            <td><a href="#">16:35</a></td>
            <td><a href="#">16:35</a></td>
        </tr>
        <tr>
            <th scope="row"><p id="dayAfter2"></p></th>
            <td><a href="#">16:35</a></td>
        </tr>
        <tr>
            <th scope="row"><p id="dayAfter3"></p></th>
            <td><a href="#">16:35</a></td>
            <td><a href="#">16:35</a></td>
            <td><a href="#">16:35</a></td>
        </tr>
        </tbody>
    </table>

</div>



</body>
</html>



